@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Anaheim', sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(22, 4, 4, 0.8) 0%, rgba(121, 9, 9, 0.8) 50%, rgba(22, 4, 4, 0.8) 100%), url("img/bg.jpg");
    background-size: cover;
    z-index: -1;
}

.format-text {
    text-align: center;
    min-height: 0;
    color: white;
}

form {
    max-width: 500px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 20px 40px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    display: block;
    margin-bottom: 20px;
}

#discography-label #radio {
    display: block;
}

.discography {
    margin-top: 10px;
}

#radio label {
    display: inline;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    margin-top: 5px;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}

#radio {
    margin-bottom: 10px;
}

.discography-cb {
    display: grid;
    grid-template-columns: 0fr 2fr 0fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#checkbox {
    margin-bottom: 10px;
}

textarea {
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}

button {
    width: 100%;
    height: 40px;
    background-color: cadetblue;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 5px;
}